# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# NuGet
packages/

# EF Local DB
*.mdf
*.ldf

# Publish
publish/

# Environment
.env

# OS files
Thumbs.db
Desktop.ini